@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');__
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    max-width: 360px;
    margin: 0 auto;
}
.wrapper{
    margin: 15px;
    height: 650px;
    background: #000;
    color: white;
    border-radius: 29px;
    padding: 10px;
    overflow: hidden;
}
.logo{
    margin-left: 20px;
    margin-top: 85%;
}
button{
    width: 125px;
    height: 50px;
    font-size: 21px;
    background: #004aad;
    font-weight: 500;
    color: white;
    border: none;
    margin-top: 263px;
    margin-left: 190px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 15px;
}